{% extends "layout.html" %}
{% block title %}New Activity{% endblock %}
{% block body %}
<script src="https://unpkg.com/htmx.org@1.9.0" integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls" crossorigin="anonymous"></script>
  <ul>
    <li><a href="{{ url_for('newActivity') }}">New Activity </a></li>
    <li><a href="{{ url_for('home') }}">Past Activities </a></li>
    <li class="active"><a href="{{ url_for('profile') }}">Profile</a></li>
    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
  </ul>
  <h2>Your Info</h2>
  <!-- <div>
   <button type="submit" id="edit-button">Edit</button>
  </div>   -->

<div>
  <div style="margin: 0 0 5px 0"><label>Name</label>: {{g.user.username}}</div>
  <div style="margin: 0 0 5px 0"><label>Age</label>: {{g.user.age}}</div>
  <div style="margin: 0 0 5px 0"><label>Height</label>: {{g.user.height}}</div>
  <div style="margin: 0 0 5px 0"><label>Weight</label>: {{g.user.weight}}</div>
<form action="" method="post">
  <div class="actions"><input type="submit" value="Edit"></div>
</form>
</div>
  
  <!-- <script>    
    
    fetch('/get_profile', {
      method: "get",
      headers: new Headers({
        "content-type": "application/json"
      }),
    })
      .then((response) => {
        if (response.status !== 200) {
          console.log(`Woah: Looks like there was a problem. Status code: ${response.status}`);
        }
        if (response.status == 404) {
          console.log("SHOULD REDIRECT")
        }
        json = response.json();
        console.log(json);
        return json;
      })
      .then((data) => {
          console.log(data);
          //parsed = JSON.parse(data);
          //console.log(parsed);
          display(data);
          clearInput();
      })
      .catch((error) => {
        console.log("Fetch error: " + error);
      });   
      
    
    function display(data) {
    var msg = document.getElementById("profile_info");
    for (var i = 0; i < data.length; i++) {
      var div = document.createElement("div");
      div.textContent = 'Name: ' + data[i].user;
      msg.appendChild(div);
    }
    for (var i = 0; i < data.length; i++) {
        var div = document.createElement("div");
        div.textContent = 'Age: ' + data[i].age;
        msg.appendChild(div);
    }
    for (var i = 0; i < data.length; i++) {
        var div = document.createElement("div");
        div.textContent = 'Height: ' + data[i].height + 'ins';
        msg.appendChild(div);
    }
    for (var i = 0; i < data.length; i++) {
        var div = document.createElement("div");
        div.textContent = 'Weight: ' + data[i].weight + 'lbs';
        msg.appendChild(div);
    }
    timeoutID = window.setTimeout(poller, POLL_INTERVAL);
    
    const edit_button = document.getElementById("edit-button");
    
    edit_button.addEventListener("click", function() {
        var info = document.getElementById("test");
        info.contentEditable = true;
        info.style.backgroundColor = "#dddbdb";
      } );
  }
  </script> -->
  
{% endblock %}