body {
    background: #b2cce8;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 0;
}

a {
    color: #26776F;
}

a:hover {
    color: rgb(230, 222, 222);
}

#text-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid #BFE6E2;
    padding: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #105751;;
}

input[type="submit"] {
    background: #105751;;
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}
input[type="button"] {
    background: #105751;;
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}


div.page {
    background: #F8F8FF;
    width: 100%;
    border-radius: 25px;
}

div.page h1 {
    background: #a8bcff;
    margin: 0;
    padding: 10px 14px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 3px #7f92e7;
    font-weight: normal;
    border-radius: 25px;
}

#title {
    position: relative;
    z-index: 4;
    top: 0;
    font-size: 54px;
    background-color: #120d0d; 
    color: whitesmoke;
    padding-left: 5px;
    padding-right: 16px;
    text-align: center;
    font-family: 'American Typewriter', serif;
    text-shadow: 0 0 3px #7e5124;
    font-weight: normal;
}


div.page div.events {
    color: #282727;
    font-size: large;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
}

div.event {
    flex-direction: row;
    padding-bottom: 10px;
}

div.page div.event a {
    padding-block: 10px;
    padding-left: 1cm;
}

div.page h2 {
    margin: 0 0 15px 0;
    color: #000f0e;
    font-family: 'Avantgarde,' sans-serif;
    text-shadow: 0 1px 2px #ccc;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    transition-duration: 0.2s;
}
li a:hover:not(.active) {
    background-color: #111;
    transition-duration: 0.2s;
  }
.active {
  background-color: rgb(167, 203, 208);
}

div.page ul.messages {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

div.page ul.messages li {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #DBF3F1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 48px;
}

div.page ul.messages p {
    margin: 0;
}

div.page ul.messages li img {
    float: left;
    padding: 0 10px 0 0;
}

div.page ul.messages li small {
    font-size: 0.9em;
    color: #888;
}

div.page div.twitbox {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #94E2DA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.page div.twitbox h3 {
    margin: 0;
    font-size: 1em;
    color: #2C7E76;
}

div.page div.twitbox p {
    margin: 0;
}

div.page div.twitbox input[type="text"] {
    width: 585px;
}



ul.flashes {
    list-style: none;
    margin: 10px 10px 0 10px;
    padding: 0;
}

ul.flashes li {
    background: rgb(227, 217, 206);
    border: 1px solid rgb(53, 41, 24);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    /* -moz-border-radius: 2px;
    -webkit-border-radius: 2px; */
    padding: 4px;
    font-size: 13px;
}

#editbutton { 
    margin-right: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }
  
  